div {
    width: 1600px;
    margin: auto;
}

tr,
td,
th {
    padding-left: 15px;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
	color:black;
	font-family:serif;
}

tr:nth-child(2n) {
    background-color: rgb(213, 245, 224);
}

tr:nth-child(2n+1) {
    background-color: rgb(190, 225, 202);
}

table tr:nth-child(n+2) {
    counter-increment: row-num;
}

th {
    background-color: rgb(3, 136, 138);
    color: rgb(246, 255, 0);

}


tr:hover {
    background-color: rgb(125, 214, 232);
}

a {
    text-decoration: none;
    color: black;
}
.accepted1{
	background-color:orange;
	width:9%
}
.accepted2{
	background-color:darkOrange;
	width:9%
}

.lastUpdate{
	color:#bbb;
	float:left;
	width:695px;
	background-color: black;
	padding-left: 5px;
}

thead { 
    position: sticky;
	top: 0;
	z-index: 1;
}
.balls{
   font-size:30px;
   color:white; 
}
.B0{
   color: white;
}
.rang_colors{
	width:900px;
	float: right;
	background-color:black;
}
div .CL0, .CL1, .CL2, .CL3, .CL4, .CL5, .CL6, .CL7, .CL8{
	width:111px;
	color: black;
	text-align: center;
	float: right;
	
}
.CL0{
   background-color:white;
}
.B1{
	color: #bbb;
}
.CL1{
   background-color:#bbb;
}
.B2{
    color:lime;
}
.CL2{
	background-color:lime;
}
.B3{
	color:yellow;
}
.CL3{
	background-color:yellow;
}
.B4{
	color:orange;
}
.CL4{
	background-color:orange;
}
.B5{
	color:violet;
}
.CL5{
	background-color:violet;
}
.B6{
   color: blue;
}
.CL6{
	background-color:blue;
	color:white;
}
.B7{
	color: brown;
}
.CL7{
	background-color:brown;
	color:white;
}
.B8{
	color: black;
}
.CL8{
	background-color:black;
	color:white;
}
