div {
    width: 1600px;
    margin: auto;
}

tr,
td,
th {
    padding-left: 15px;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

tr:nth-child(2n) {
    background-color: rgb(213, 245, 224);
}

tr:nth-child(2n+1) {
    background-color: rgb(190, 225, 202);
}

th {
    background-color: rgb(3, 136, 138);
    color: rgb(246, 255, 0);

}


tr:hover {
    background-color: rgb(125, 214, 232);
}

a {
    text-decoration: none;
    color: black;
}
.accepted1{
	background-color:orange;
	width:9%
}
.accepted2{
	background-color:darkOrange;
	width:9%
}

thead { 
    position: sticky;
	top: 0;
	z-index: 1;
}

