.main {
    width: 1600px;
    margin: auto;
}

tr,
td,
th {
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}

table {
    width: 100%;
	border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
	color:black;
	font-family:serif;
}

tr:nth-child(2n) {
    background-color: rgb(213, 245, 224);
}

tr:nth-child(2n+1) {
    background-color: rgb(190, 225, 202);
}

table tr:nth-child(n+2) {
    counter-increment: row-num;
}

tr:hover {
    background-color: rgb(125, 214, 232);
}

a {
    text-decoration: none;
    color: black;
}



th {
    background-color: rgb(3, 136, 138);
    color: rgb(246, 255, 0);
}

a {
    text-decoration: none;
    color: black;
}

.cl09 > a, .cl08 > a  {
    text-decoration: none;
    color: white;
}


thead { 
    position: sticky;
	top: 0px;
	z-index: 2;
}

.circle{
   background-color: orange;
   border: 2px;
   border-color:black;
   border-style: solid;
   margin-bottom: 10px;;
   border-radius: 50px;
   text-align:center;
}

.cl01{
	background-color: #eee;
}

.cl02{
	background-color: #999;
}

.cl03{
	background-color: #afa;
}

.cl04{
	background-color: #0f0;
}

.cl05{
	background-color: #aaf;
}

.cl06{
	background-color: #ff0;
}

.cl07{
	background-color: #0ff;
}

.cl08{
	background-color: #f0f;
}

.cl09{
	background-color: #f00;
	color: #fff;
}
.second_table {
  vertical-align: top;
}

.lastUpdate{
	color:#bbb;
	float:left;
	width:695px;
	background-color: black;
	padding-left: 5px;
}

div .CL0, .CL1, .CL2, .CL3, .CL4, .CL5, .CL6, .CL7, .CL8, .CL9{
	width:100px;
	color: black;
	text-align: center;
	float: right;
	
}

.B0{
	color: #fff;
}
.CL0{
   background-color:white;
}
.B1{
	color: #bbb;
}
.CL1{
   background-color:#bbb;
}
.B2{
    color:lime;
}
.CL2{
	background-color:lime;
}
.B3{
	color:yellow;
}
.CL3{
	background-color:yellow;
}
.B4{
	color:orange;
}
.CL4{
	background-color:orange;
}
.B5{
	color:brown;
}
.CL5{
	background-color:brown;
	color:white;
}
.B6{
   color: blue;
}
.CL6{
	background-color:blue;
	color:white;
}
.B7{
	color: red;
}
.CL7{
	background-color: red;
	color:black;
}
.B8{
	color: black;
}
.CL8{
	background-color:black;
	color:white;
}

.B9{
	color: #afa;
}

.CL9{
	background-color:#afa;
	color:black;
}


.rang_colors{
	width:900px;
	float: right;
	background-color:black;
}

.accepted1{
	background-color:orange;
	
}
.accepted2{
	background-color:darkOrange;
	
}
